#App {
    display: flex;
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    justify-content: space-between;
}

.navbar {
    margin-bottom: 20px;
}

.TIME {
    margin-top: 40px;
}