#App {
    display: flex;
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    justify-content: space-between;
}

.navbar {
    margin-bottom: 20px;
}

.TIME {
    margin-top: 40px;
    margin-bottom: 40px;
}

.carousel {
    margin: 40px;
}

.cards {
    margin: 40px;
}

.card-group {
    margin: 40px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}